.bg{background: red;}
.bg1{background: orange;}
.bg2{background: blue;}
.clear-content{clear: both;height: 5px;}
.clear-main{clear: both;}
.box-shadow{box-shadow: 0px 0px 5px #ddd; padding: 8px;}
.border{border: 1px solid #efefef; padding: 10px;}
.italic{font-style: italic;}
.main-width{width: 100%; margin: 0 auto;}
.position-relative{position: relative;}
.position-absolute{position: absolute;}
.font-bold{/*font-family: "OpenSans-Bold";*/font-weight: bold;}
body.show-menu, body.show-topnews{max-height: 100%; overflow: hidden;}
body.show-menu section, body.show-topnews section{display: none !important; opacity: 0;}
body{max-width: 600px; margin: 0 auto;}

/**css header**/
header .wrap-header{background: #0b1218; padding: 13px 0; text-align: center;}
header .wrap-header img.logo{height: 31px;}
header .height-fixed-menu{height: 57px;}
header .fixed-menu-mobile{position: fixed; z-index: 999; top: 0; left: 0; right: 0;}
header .wrap-header i.menu-mobile-show{padding: 8px 10px; position: absolute; top: 7px; left: 7px; color: #fff; font-size: 28px; cursor: pointer;}
header .wrap-header i.menu-mobile-show:hover{color: #ddd;}

header .b-header-news-top{position: absolute; top: -5px; right: 10px; z-index: 9999;}
header .b-header-news-top .view-data-news{padding: 17px 0px 2px 0px; text-transform: uppercase; color: #fff; font-size: 14px; display: table; text-align: center;}
header .b-header-news-top .view-data-news.active{background: #142533; color: #fff; font-size: 23px; padding: 14px 15px; margin-right: -5px;}
header .b-header-news-top .view-data-news.active .view-news{display: none !important;}
header .b-header-news-top .view-data-news.active .hid-close{display: block !important;}
header .b-header-news-top .view-data-news p{margin-bottom: 0px; font-size: 15px; line-height: 10px;}

header .view-news i{font-size: 22px; padding: 5px 12px;}

header .wrap-head-newstop{position: fixed; top: 57px; left: 0; right: 0; overflow: auto; -webkit-overflow-scrolling: touch; background: #142533; -webkit-transition: height 300ms ease-in-out; -moz-transition: height 300ms ease-in-out; -o-transition: height 300ms ease-in-out;  -ms-transition: height 300ms ease-in-out;  transition: height 300ms ease-in-out; height: 0;}
header .b-header-news-top .view-data-news.active .wrap-head-newstop{height: 100vh;}

header .b-head-newstop{background: #142533; box-shadow: 0 0 3px #ccc; text-transform: uppercase; padding: 12px 12px; text-align: left; font-size: 14px;}

header .wrap-head-newstop ul{margin: 0; padding: 0 0 48px 0; background: #101e2a;}
header .wrap-head-newstop ul li{list-style: none; overflow: hidden; padding: 15px 15px; border-bottom: 1px solid #142432; text-align: left; overflow: hidden;}
header .wrap-head-newstop ul li a{display: block; color: #fff; text-transform: none; line-height: 19px;}
header .wrap-head-newstop ul li .img-newstop{width: 32%; float: left; margin-right: 15px;}
header .wrap-head-newstop ul li .author-time{overflow: hidden; font-size: 13px; color: #ccc; text-transform: none; padding: 5px 0 0 0;}
header .wrap-head-newstop ul li .author-time .category{float: left; margin: 0px 8px 0 0;}
header .wrap-head-newstop ul li .author-time .category a{color: #f4c902; font-size: 13px;}

/**css menu**/
menu .wrap-menu{/*background: #ff3666;*/}
menu .wrap-menu{position: fixed; z-index: 9999; width: 100%; /*height: 100vh;*/ top: 57px; bottom: 0; left: 0; right: 0; /*overflow-y: auto; background: #0d8bbf;*/ -webkit-transform: translate3d(-100%,0,0); transform: translate3d(-100%,0,0); -webkit-transition: -webkit-transform .4s; transition: transform .4s; -webkit-transition-timing-function: cubic-bezier(.7,0,.3,1); transition-timing-function: cubic-bezier(.7,0,.3,1);  }
menu .wrap-menu .menu-mobile i.menu-close{position: absolute; top: 8px; right: 8px; z-index: 99999; color: #fff; font-size: 20px;}
body i.menu-close{display: none;}
body.show-menu i.menu-close{padding: 8px 10px; display: block; position: fixed; top: 8px; left: 5px; z-index: 999999; font-size: 22px; color: #f4c902;}
body.show-menu .bg-hidden-body{background: rgba(0,0,0,0.5); position: fixed; top: 0; left: 0; right: 0; bottom: 0; z-index: 999;}
body.show-menu menu .wrap-menu{-webkit-transform: translate3d(0,0,0); transform: translate3d(0,0,0); -webkit-transition: -webkit-transform .8s; transition: transform .8s; -webkit-transition-timing-function: cubic-bezier(.7,0,.3,1); transition-timing-function: cubic-bezier(.7,0,.3,1);  }
body.show-menu menu .wrap-menu .menu-mobile{position: relative;}
body.show-menu .menu-mobile-show{display: none;}
menu .wrap-menu .menu-mobile .head-menu-mobile{padding: 10px 0; background: #ff3666; position: fixed; z-index: 999; top: 0; left: 0; right: 0;}
menu .wrap-menu .menu-mobile .head-menu-mobile img{margin-left: 15px;}
menu .wrap-menu .menu-mobile .head-menu-mobile i{position: absolute; top: 15px; right: 15px; color: #fff; font-size: 22px; cursor: pointer;}
menu .wrap-menu .menu-mobile .head-menu-mobile i:hover{color: #ddd;}
menu .wrap-menu .menu-mobile .pos-menu-scroll{position: absolute; background: #101e2a; border-top: 0px solid #fff; top: 57px; left: 0; right: 0; bottom: 0; height: 100vh; overflow: auto; -webkit-overflow-scrolling: touch;}

menu .title-menu-mobile{text-align: center; text-transform: uppercase; padding: 15px 0; color: #fff; font-weight: bold; background: #142533; font-size: 18px;}
menu .menu-mobile i.po-fix-icmenu{position: absolute; top: -19px; left: 16px; font-size: 28px; color: #142533;}
menu .menu-parent{padding: 25px 0 10px 0; margin: 0 10% 15px 10%; border-bottom: 1px solid #1e384f;}
menu .menu-parent a{font-size: 16px; font-weight: bold; color: #f4c902; text-align: left;}

menu .wrap-menu ul.child-one{padding: 0 10%; margin: 0 0 0px 0; overflow: hidden;}
menu .wrap-menu ul.child-one li.view-menu{list-style: none; float: left; width: 100%; margin-left: 0%; text-align: left; margin-bottom: 0px;}
menu .wrap-menu ul.child-one li.view-menu:first-child{margin-left: 0;}
menu .wrap-menu ul.child-one li.view-menu:nth-child(2n+1){margin-left: 0;}
menu .wrap-menu ul.child-one li.view-menu a{font-size: 15px; font-weight: bold; padding: 10px 0; color: #fff;}
menu .wrap-menu ul.child-one li.view-menu ul{background: #101e2a; margin: 0 5%; padding: 0px 0 0 0; overflow: hidden;}
menu .wrap-menu ul.child-one li.view-menu ul li{text-align: left; float: left; width: 47.5%; margin-left: 5%; list-style: none; overflow: hidden;}
menu .wrap-menu ul.child-one li.view-menu ul li:first-child{margin-left: 0;}
menu .wrap-menu ul.child-one li.view-menu ul li:nth-child(2n+1){margin-left: 0;}
menu .wrap-menu ul.child-one li.view-menu ul li i{float: left; color: #f4c902; font-size: 5px; margin: 18px 10px 0 0;}
menu .wrap-menu ul.child-one li.view-menu ul li a{padding: 10px 0 5px 0;}

.wrap-search-two{position: relative;}
.wrap-form form{}
.b-select-tab{margin: 0 0 10px 0;}
.b-select-tab select{font-size: 15px; padding: .32rem .75rem; height: calc(2.05rem + 2px) !important;}
.b-select-tab select option{font-size: 14px;}
.wrap-search-two select{font-size: 15px; padding: .32rem .75rem; height: calc(2.05rem + 2px) !important;}
.wrap-search-two select option{font-size: 14px;}
.wrap-search-two input{font-size: 15px; padding: .32rem .75rem;}
.wrap-search-two .b-select{width: 28%; float: left;}
.wrap-search-two .b-input-key{width: 70%; float: right;}
.wrap-search-two button{background: none; border: 0; font-size: 17px; position: absolute; top: 0px; right: 0px; padding: 5px 10px;}

/**css content**/
section .wrap-tab{margin-bottom: 0px;}
section .wrap-tab .height-tab{height: 46px;}
section .wrap-tab .nav-tabs{border-bottom: 0; background: #101e2a; position: fixed; left: 0; right: 0; z-index: 99; top: 56px;  }
section .wrap-tab .nav-tabs .nav-item{margin-bottom: 0; width: 33.33%;}
section .wrap-tab .nav-tabs .nav-item.show .nav-link, section .wrap-tab .nav-tabs .nav-link.active{background: #142533; color: #f4c902 !important; border-color: inherit;}
section .wrap-tab .nav-tabs .nav-link{border: 0px; border-top-left-radius: 0; border-top-right-radius: 0; color: #fff; font-size: 16px; padding: 11px 0px; text-align: center;}
section .wrap-tab .nav-tabs .nav-link.active .market_one{display: none;}
section .wrap-tab .nav-tabs .nav-link.active .market_two{display: block !important;}
section .wrap-tab .tab-content{}

.crypto{height: 0; opacity: 0; overflow: hidden; padding-bottom: 8px;}
.crypto div{width: inherit !important;}
.crypto iframe{width: 96% !important; margin: 0 2% 0 2%;}
.crypto.active{height: inherit; opacity: 1; overflow: inherit;}
.wrap-content-charmap{position: fixed; left: 0; right: 0; z-index: 999; background: #fff; padding-bottom: 8px;}

section .wrap-tab .wrap-content-tab ul{margin-bottom: 0;}
section .wrap-tab .wrap-content-tab ul li{list-style: none; border-bottom: 1px dashed #666; padding: 10px 0;}
section .wrap-tab .wrap-content-tab ul li:first-child{padding-top: 0;}
section .wrap-tab .wrap-content-tab ul li:last-child{border-bottom: 0; padding-bottom: 0;}
section .wrap-tab .wrap-content-tab ul li .thumpTab {background-size: cover; background-repeat: no-repeat; width: 45px; height: 50px; border: 1px solid #ccc; float: left; margin-right: 8px;}
section .wrap-tab .wrap-content-tab ul li .info-movie-tab{position: relative;}
section .wrap-tab .wrap-content-tab ul li .info-movie-tab label{display: inherit; cursor: pointer;}
section .wrap-tab .wrap-content-tab ul li .info-movie-tab label.nameTab{color: #fff; font-size: 13px; margin-bottom: 2px; white-space: nowrap; text-overflow: ellipsis; overflow: hidden;}
section .wrap-tab .wrap-content-tab ul li .info-movie-tab label.nameTabRoot{color: #666; font-size: 13px; margin-bottom: 0; padding-right: 50px; white-space: nowrap; text-overflow: ellipsis; overflow: hidden;}
section .wrap-tab .wrap-content-tab ul li .info-movie-tab label:hover{color: #E3B71E;}
section .wrap-tab .wrap-content-tab ul li .info-movie-tab label.nameTabRoot:hover{color: #999;}
section .wrap-tab .wrap-content-tab ul li .info-movie-tab .movie-minutes{position: absolute; top: 22px; right: 0; font-size: 12px; color: #666;}

section .wrap-list-data-one{background: #f3f2f2; padding: 10px 10px 10px 10px;}
section .wrap-list-data-one ul{margin: 0 0 15px 0; padding: 0 0;}
section .wrap-list-data-one ul li{list-style: none; background: #fff; margin-bottom: 10px;}
section .wrap-list-data-one ul li .w-img-two{width: 100%;}
section .wrap-list-data-one ul li .w-img-two img{width: 100%;}
section .wrap-list-data-one ul li .info-news{padding: 15px;}
section .wrap-list-data-one ul li a{color: #111; font-weight: bold; display: block; font-size: 18px;}
section .wrap-list-data-one ul li h3{line-height: 25px; margin: 0 0 8px 0;}
section .wrap-list-data-one ul li .author-time{color: #808080; margin: 0 0 0px 0; overflow: hidden;}
section .wrap-list-data-one ul li .author-time i{font-size: 15px; margin-right: 5px;}
section .wrap-list-data-one ul li .author-time span{float: left; padding: 0 5px 0 0; font-size: 14px;}
section .wrap-list-data-one ul li .author-time span:first-child{padding-top: 1px;}
section .wrap-list-data-one ul li .author-time a{color: #ad1717; text-transform: uppercase; font-weight: bold; font-size: 13px;}

section .wrap-list-data-two{padding: 10px 10px 10px 10px;}
section .wrap-list-data-two ul.data-tab-one{margin: 0 0 10px 0; padding: 0 0px 0px 0; border-bottom: 1px solid #f4c902;}
section .wrap-list-data-two ul.data-tab-one li{list-style: none; background: #fff; margin-bottom: 0px;}
section .wrap-list-data-two ul.data-tab-one li .w-img-two{width: 100%;}
section .wrap-list-data-two ul.data-tab-one li .w-img-two img{width: 100%;}
section .wrap-list-data-two ul.data-tab-one li .info-news{padding: 15px 15px 15px 0;}
section .wrap-list-data-two ul.data-tab-one li a{color: #192733; font-weight: bold; display: block; font-size: 17px;}
section .wrap-list-data-two ul.data-tab-one li h3{line-height: 25px; margin: 0 0 8px 0;}
section .wrap-list-data-two ul.data-tab-one li .author-time{color: #808080; margin: 0 0 0px 0; overflow: hidden;}
section .wrap-list-data-two ul.data-tab-one li .author-time i{font-size: 15px; margin-right: 5px;}
section .wrap-list-data-two ul.data-tab-one li .author-time span{float: left; padding: 0 5px 0 0; font-size: 14px;}
section .wrap-list-data-two ul.data-tab-one li .author-time span:first-child{padding-top: 1px;}
section .wrap-list-data-two ul.data-tab-one li .author-time a{color: #ad1717; text-transform: uppercase; font-weight: bold; font-size: 13px;}

section .wrap-list-data-two{padding: 10px 10px 10px 10px;}
section .wrap-list-data-two .b-hotnews{padding: 10px; background: #eef2f4;}
section .wrap-list-data-two .b-hotnews label{font-weight: bold; font-size: 20px; margin: 0 0 15px 0;}
section .wrap-list-data-two ul.data-tab-two{margin: 0 0 0px 0; padding: 0 0px 0px 0;}
section .wrap-list-data-two ul.data-tab-two li{list-style: none; overflow: hidden; margin: 0 0 10px 0; padding: 0 0 10px 0; border-bottom: 1px solid #ddd;}
section .wrap-list-data-two ul.data-tab-two li a{color: #192733; font-weight: bold; display: block; font-size: 17px;}
section .wrap-list-data-two ul.data-tab-two li h3{line-height: 25px; margin: 0 0 8px 0;}
section .wrap-list-data-two ul.data-tab-two li .author-time{color: #808080; margin: 0 0 0px 0; overflow: hidden;}
section .wrap-list-data-two ul.data-tab-two li .author-time i{font-size: 15px; margin-right: 5px;}
section .wrap-list-data-two ul.data-tab-two li .author-time span{float: left; padding: 0 5px 0 0; font-size: 14px;}
section .wrap-list-data-two ul.data-tab-two li .author-time span:first-child{padding-top: 1px;}
section .wrap-list-data-two ul.data-tab-two li .author-time a{color: #ad1717; text-transform: uppercase; font-weight: bold; font-size: 13px;}

section .wrap-list-data-two{padding: 10px 10px 10px 10px;}
section .wrap-list-data-two ul.data-tab-three{margin: 15px 0 0px 0; padding: 0px 0px 0px 0; border-top: 0px solid #f4c902;}
section .wrap-list-data-two ul.data-tab-three li{list-style: none; background: #fff; margin: 0 0 15px 0; padding: 0 0 15px 0; overflow: hidden; border-bottom: 1px solid #efefef;}
section .wrap-list-data-two ul.data-tab-three li:last-child{border-bottom: 0; padding-bottom: 0; margin-bottom: 5px;}
section .wrap-list-data-two ul.data-tab-three li .w-img-two{display: table; width: 35%; float: left;}
section .wrap-list-data-two ul.data-tab-three li .info-news{margin-left: 38.5%;}
section .wrap-list-data-two ul.data-tab-three li a{color: #192733; font-weight: bold; display: block; font-size: 17px;}
section .wrap-list-data-two ul.data-tab-three li h3{line-height: 25px; margin: 0 0 8px 0;}
section .wrap-list-data-two ul.data-tab-three li .author-time{color: #808080; margin: 0 0 0px 0; overflow: hidden;}
section .wrap-list-data-two ul.data-tab-three li .author-time i{font-size: 15px; margin-right: 5px;}
section .wrap-list-data-two ul.data-tab-three li .author-time span{float: left; padding: 0 5px 0 0; font-size: 14px;}
section .wrap-list-data-two ul.data-tab-three li .author-time span:first-child{padding-top: 1px;}
section .wrap-list-data-two ul.data-tab-three li .author-time a{color: #ad1717; text-transform: uppercase; font-weight: bold; font-size: 13px;}

section .wrap-list-data-three{padding: 0px;}
section .wrap-list-data-three ul{margin: 10px; overflow: hidden; background: #e7edf2; border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px;}
section .wrap-list-data-three ul li{list-style: none; float: left; padding: 12px 8px;}
section .wrap-list-data-three ul li:first-child{width: 55%;}
section .wrap-list-data-three ul li:first-child label{font-weight: bold; color: #192733; font-size: 15px; padding: 11px 0 0 13px; margin: 0;}
section .wrap-list-data-three ul li:last-child{width: 45%;}
section .wrap-list-data-three ul li:last-child p{margin-bottom: 0; text-align: right;}
section .wrap-list-data-three ul li:last-child p.price-now{color: #808080; margin-bottom: 1px;}
section .wrap-list-data-three ul li:last-child p .down{color: #fe3939;}
section .wrap-list-data-three ul li:last-child p .up{color: #009e73;}
section .wrap-list-data-three ul li img{height: 40px; float: left;}

section .wrap-category-page2-three .b-title-category{ background: none;}
section .wrap-category-page2-three .b-title-category label{text-transform: uppercase; border-left: 3px solid #f4c902 ; color: #000; padding: 0px 15px 0px 8px; font-size: 16px; margin: 0 0 15px 0;}
section .wrap-category-page2-three{background: #dadada; padding: 25px 35px 45px 35px; margin: 0 0 6px 0;}
section .wrap-category-page2-three ul{overflow: hidden; margin: 0;}
section .wrap-category-page2-three ul li{list-style: none; float: left; width: 100%; margin-left: 3%;}
section .wrap-category-page2-three ul li img{width: 100%;}
section .wrap-category-page2-three ul li:first-child{margin-left: 0;}
section .wrap-category-page2-three ul li a{color: #111; display: block; font-size: 15px;}
section .wrap-category-page2-three ul li h3{line-height: 25px; margin: 10px 0 8px 0; min-height: 49px; max-height: 49px; overflow: hidden;}
section .wrap-category-page2-three ul li .author-time{font-size: 13px; overflow: hidden; margin: 10px 0 10px 0;}
section .wrap-category-page2-three ul li .author-time p.category{background: #ff3666; display: table; float: left; padding: 1px 8px; margin-right: 10px; margin-bottom: 0;}
section .wrap-category-page2-three ul li .author-time p.category a{font-size: 13px; color: #fff;}
section .wrap-category-page2-three ul li .author-time p.category a:hover{color: #ccc !important;}
section .wrap-category-page2-three ul li .author-time span{color: #4f4f4f;}
section .wrap-category-page2-three .carousel-control-next{top: 90px; bottom: inherit; left: inherit; right: -30px; width: 20px; color: #111; padding: 3px 3px; font-size: 22px;}
section .wrap-category-page2-three .carousel-control-prev{top: 90px; bottom: inherit; left: -30px; right: 45px; width: 20px; color: #111; padding: 3px 3px; font-size: 22px;}
section .wrap-category-page2-three .carousel-indicators{bottom: -40px;}
section .wrap-category-page2-three .carousel-indicators li{width: 6px; height: 6px; background: #cccccc;}
section .wrap-category-page2-three .carousel-indicators .active{background: #bf360c;}
section .playvideo{position: absolute; top: 36%; left: 45%; font-size: 40px; color: #bf360c;}
section .wrap-video-iframe iframe{width: 100%; height: 300px;}

/**page c2**/
section .wrap-list-data-category{padding: 10px 10px 10px 10px;}
section .wrap-list-data-category ul.data-tab-one{margin: 0 0 0px 0; padding: 0 0px 0px 0;}
section .wrap-list-data-category ul.data-tab-one li{list-style: none; background: #fff; margin-bottom: 0px;}
section .wrap-list-data-category ul.data-tab-one li .w-img-two{width: 100%;}
section .wrap-list-data-category ul.data-tab-one li .w-img-two img{width: 100%;}
section .wrap-list-data-category ul.data-tab-one li .info-news{padding: 15px 15px 0 15px;}
section .wrap-list-data-category ul.data-tab-one li a{color: #192733; font-weight: bold; display: block; font-size: 17px;}
section .wrap-list-data-category ul.data-tab-one li h3{line-height: 25px; margin: 0 0 8px 0;}
section .wrap-list-data-category ul.data-tab-one li .author-time{color: #808080; margin: 0 0 0px 0; overflow: hidden;}
section .wrap-list-data-category ul.data-tab-one li .author-time i{font-size: 15px; margin-right: 5px;}
section .wrap-list-data-category ul.data-tab-one li .author-time span{float: left; padding: 0 5px 0 0; font-size: 14px;}
section .wrap-list-data-category ul.data-tab-one li .author-time span:first-child{padding-top: 1px;}
section .wrap-list-data-category ul.data-tab-one li .author-time a{color: #ad1717; text-transform: uppercase; font-weight: bold; font-size: 13px;}

section .wrap-list-data-category{padding: 10px 10px 10px 10px;}
section .wrap-list-data-category ul.data-tab-three{margin: 15px 0 0px 0; padding: 15px 0px 0px 0; border-top: 1px solid #f4c902;}
section .wrap-list-data-category ul.data-tab-three li{list-style: none; background: #fff; margin: 0 0 15px 0; padding: 0 0 15px 0; overflow: hidden; border-bottom: 1px solid #efefef;}
section .wrap-list-data-category ul.data-tab-three li:last-child{border-bottom: 0; padding-bottom: 0; margin-bottom: 5px;}
section .wrap-list-data-category ul.data-tab-three li .w-img-two{display: table; width: 35%; float: left;}
section .wrap-list-data-category ul.data-tab-three li .info-news{margin-left: 38.5%;}
section .wrap-list-data-category ul.data-tab-three li a{color: #192733; font-weight: bold; display: block; font-size: 17px;}
section .wrap-list-data-category ul.data-tab-three li h3{line-height: 25px; margin: 0 0 8px 0;}
section .wrap-list-data-category ul.data-tab-three li .author-time{color: #808080; margin: 0 0 0px 0; overflow: hidden;}
section .wrap-list-data-category ul.data-tab-three li .author-time i{font-size: 15px; margin-right: 5px;}
section .wrap-list-data-category ul.data-tab-three li .author-time span{float: left; padding: 0 5px 0 0; font-size: 14px;}
section .wrap-list-data-category ul.data-tab-three li .author-time span:first-child{padding-top: 1px;}
section .wrap-list-data-category ul.data-tab-three li .author-time a{color: #ad1717; text-transform: uppercase; font-weight: bold; font-size: 13px;}

/**css detail**/
section .wrap-detail-post{padding: 10px;}
section .wrap-detail-post .title-detail{font-size: 19px; line-height: 28px; padding: 5px 0;}

section .wrap-detail-post .detail-thumb{margin: 0 0 15px 0;}
section .wrap-detail-post .detail-thumb img{width: 100%;}
section .wrap-detail-post .sapo-post{font-size: 18px; line-height: 25px; margin: 0 0 15px 0;}
section .wrap-detail-post .content-post{line-height: 25px; font-size: 17px; /*font-family: "Times New Roman",Georgia,Serif;*/ -webkit-font-smoothing: subpixel-antialiased;}
section .wrap-detail-post .content-post p{margin-bottom: 8px; font-size: 17px; line-height: 28px;}
section .wrap-detail-post .content-post ul, section .wrap-detail-post .content-post ol{margin-left: 17px;}
section .wrap-detail-post .content-post img{padding: 15px 0;}
section .wrap-detail-post .content-post figure img{padding: 0;}
section .wrap-detail-post .content-post figure{display: table; margin: 15px auto 15px auto; text-align: center;}
section .wrap-detail-post .content-post figure figcaption{padding: 5px 0 0 0; font-size: 16px;}
section .wrap-detail-post .content-post .note-content-editor{width: 80%; margin: 15px auto; padding: 20px; background: #efefef; border: 1px solid #ddd; border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px;}
section .wrap-detail-post .content-post p{text-align: inherit !important;}

section .wrap-detail-post .bd-auttime{overflow: hidden; border-bottom: 1px solid #efefef; border-top: 1px solid #efefef; margin-bottom: 15px; padding-bottom: 10px;}
section .wrap-detail-post .author-time{color: #808080; margin: 10px 0 0px 0; overflow: hidden;}
section .wrap-detail-post .author-time span{float: left; padding: 0 5px 0 0; font-size: 14px;}
section .wrap-detail-post .author-time span:first-child{padding-top: 1px;}
section .wrap-detail-post .author-time a{color: #ad1717; text-transform: uppercase; font-weight: bold; font-size: 13px;}

section .wrap-detail-post .wrap-tags{padding: 15px 0; margin: 20px 0 0 0; border-top: 1px solid #efefef; border-bottom: 1px solid #efefef;}
section .wrap-detail-post .wrap-tags ul{overflow: hidden; margin: 0;}
section .wrap-detail-post .wrap-tags ul li{float: left; list-style: none; margin: 0 8px 0 0; background: #eef2f4;}
section .wrap-detail-post .wrap-tags ul li a{border: 1px solid #eef2f4; font-size: 13px; padding: 5px 10px; color: #4d5e6e; border-radius: 3px; -webkit-border-radius: 3px; -moz-border-radius: 3px;}

section .wrap-related{background: #eef2f4; padding: 15px;}
section .wrap-related .title-related{font-weight: bold; font-size: 20px; margin: 0 0 5px 0; padding: 0 0 5px 0; border-bottom: 1px solid #f4c902;}
section .wrap-related{padding: 10px 10px 10px 10px;}
section .wrap-related ul{margin: 0px 0 0px 0; padding: 15px 0px 10px 0; border-top: 1px solid #f4c902;}
section .wrap-related ul li{list-style: none; margin: 0 0 15px 0; padding: 0 0 15px 0; overflow: hidden; border-bottom: 1px solid #bcbcbc;}
section .wrap-related ul li:last-child{border-bottom: 0; padding-bottom: 0; margin-bottom: 5px;}
section .wrap-related ul li .w-img-two{display: table; width: 35%; float: left;}
section .wrap-related ul li .info-data{margin-left: 39%;}
section .wrap-related ul li .info-data .shortdes{text-align: justify;}
section .wrap-related ul li a{color: #192733; font-weight: bold; display: block; font-size: 17px;}
section .wrap-related ul li h3{line-height: 25px; margin: 0 0 8px 0;}
section .wrap-related ul li .author-time{color: #808080; margin: 0 0 0px 0; overflow: hidden;}
section .wrap-related ul li .author-time i{font-size: 15px; margin-right: 5px;}
section .wrap-related ul li .author-time span{float: left; padding: 0 5px 0 0; font-size: 14px;}
section .wrap-related ul li .author-time span:first-child{padding-top: 1px;}
section .wrap-related ul li .author-time a{color: #ad1717; text-transform: uppercase; font-weight: bold; font-size: 13px;}

/**css contact**/
section .wrap-content-page-contact{padding: 0; overflow: hidden;}

section .wrap-content-contact{background: #efeeec; padding: 25px 15px 10px 15px;}
section .wrap-content-contact .padd-contact{width: 95%; margin: 0 auto;}
section .wrap-content-contact .wrap-content-view .title-contact{font-weight: bold; font-size: 25px; margin: 0 0 15px 0;}
section .wrap-content-contact .content-view{line-height: 25px; overflow: hidden;}

section .wrap-form-contact{padding: 55px 0 0 0; background: #fbfdfd;}
section .wrap-form-contact .padd-form-contact{width: 90%; margin: 0 auto;}
section .wrap-form-contact .title-form-contact{font-weight: bold; font-size: 25px; margin: 0 0 15px 0; text-align: center;}
section .wrap-form-contact .shortdes-contact{text-align: center;}
section .wrap-form-contact .bt-email-contact{background: #ffd400; font-size: 17px; display: table; margin: 0 auto; padding: 8px 25px; font-weight: bold; border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px;}
section .wrap-form-contact .follow-contact{text-align: center; padding: 25px 0;}
section .wrap-form-contact .follow-contact .wrap-category{font-weight: bold;}
section .wrap-form-contact .wrap-link-share-contact{}
section .wrap-form-contact .wrap-link-share-contact ul{overflow: hidden; display: table; margin: 0 auto;}
section .wrap-form-contact .wrap-link-share-contact ul li{list-style: none; float: left; margin-left: 10px;}
section .wrap-form-contact .wrap-link-share-contact ul li:first-child{margin-left: 0;}

section .wrap-form-contact .wrap-link-share-contact{}
section .wrap-form-contact .wrap-link-share-contact ul{overflow: hidden; margin: 0 auto;}
section .wrap-form-contact .wrap-link-share-contact ul li{list-style: none; float: left; width: 32px; height: 32px; margin-left: 12px; margin-bottom: 12px; background: #fff; border-radius: 100%; -moz-border-radius: 100%; -webkit-border-radius: 100%;}
section .wrap-form-contact .wrap-link-share-contact ul li:first-child{margin-left: 0;}
section .wrap-form-contact .wrap-link-share-contact ul li a{color: #fff; text-align: center;}
section .wrap-form-contact .wrap-link-share-contact ul li a:hover i{color: #ffd400;}

section .wrap-form-contact .wrap-link-share-contact ul li:nth-child(1){background: #1DA1F2;}
section .wrap-form-contact .wrap-link-share-contact ul li:nth-child(1) a{font-size: 20px;}
section .wrap-form-contact .wrap-link-share-contact ul li:nth-child(1) i{padding: 7px 0 0 0;}

section .wrap-form-contact .wrap-link-share-contact ul li:nth-child(2){background: #f00;}
section .wrap-form-contact .wrap-link-share-contact ul li:nth-child(2) a{font-size: 19px;}
section .wrap-form-contact .wrap-link-share-contact ul li:nth-child(2) i{padding: 7px 0 0 0;}

section .wrap-form-contact .wrap-link-share-contact ul li:nth-child(3){background: #29487d;}
section .wrap-form-contact .wrap-link-share-contact ul li:nth-child(3) a{font-size: 18px;}
section .wrap-form-contact .wrap-link-share-contact ul li:nth-child(3) i{padding: 7px 0 0 0;}

section .wrap-form-contact .wrap-link-share-contact ul li:nth-child(4){background: #d10869;}
section .wrap-form-contact .wrap-link-share-contact ul li:nth-child(4) a{font-size: 19px;}
section .wrap-form-contact .wrap-link-share-contact ul li:nth-child(4) i{padding: 6px 0 0 0;}

section .wrap-form-contact .wrap-link-share-contact ul li:nth-child(5){background: #ff4500;}
section .wrap-form-contact .wrap-link-share-contact ul li:nth-child(5) a{font-size: 18px;}
section .wrap-form-contact .wrap-link-share-contact ul li:nth-child(5) i{padding: 7px 0 0 0;}

section .wrap-form-contact .wrap-link-share-contact ul li:nth-child(6){background: #bf360c;}
section .wrap-form-contact .wrap-link-share-contact ul li:nth-child(6) a{font-size: 17px;}
section .wrap-form-contact .wrap-link-share-contact ul li:nth-child(6) i{padding: 7px 2px 0 3px;}

section .wrap-form-contact .wrap-link-share-contact ul li:nth-child(7){background: #179cde;}
section .wrap-form-contact .wrap-link-share-contact ul li:nth-child(7) a{font-size: 17px;}
section .wrap-form-contact .wrap-link-share-contact ul li:nth-child(7) i{padding: 7px 2px 0 0;}

.wrap-form-enter label{font-weight: bold; text-transform: uppercase;}
.wrap-form-enter input{margin-bottom: 25px;}
input.ipsmf{background: #000; color: #fff; border: 0; padding: 5px 25px;}
.btsm{text-align: center; padding: 35px 0 25px 0;}


/**css ajax**/
section .load-more{cursor: pointer; background: #e6e6e6; color: #192733; font-size: 15px;  padding: 12px 0; margin: 10px; text-align: center; font-weight: bold; border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px;}
section .d-notify{color: red; text-align: center; font-style: italic; padding: 8px 0 0 0;}
section .load-more-home{cursor: pointer; color: #192733; font-size: 15px;  padding: 10px 0 5px 0; text-align: center; font-weight: bold;}

/**css sitebar right**/

/**css breadcrumb**/
section .wrap-parent-catrgory{background: #101e2a; padding: 8px 10px; margin: 0 0 0px 0;}
section .wrap-parent-catrgory ul{overflow: hidden; margin: 0;}
section .wrap-parent-catrgory ul li{list-style: none; float: left;}
section .wrap-parent-catrgory ul li a{color: #a6a9ab; padding: 2px 0; font-size: 15px;}
section .wrap-parent-catrgory ul li:last-child a{color: #fff;}
section .wrap-parent-catrgory ul li.ic{padding: 0 8px; color: #a6a9ab;}
section .wrap-parent-catrgory ul li.ic i{margin: 6px 0 0 0;}
section .wrap-parent-catrgory ul li h1{line-height: 22px; margin-bottom: 0;}

/**run right**/
.fix-icon-right{position: fixed; right: 10px; bottom: 10px; display: none; z-index: 9999999;}
.fix-icon-right ul{margin-bottom: 0;}
.fix-icon-right ul li{list-style: none; text-align: center;}
.fix-icon-right{background: #fff; border: 1px solid #ddd; width: 38px; height: 38px; border-radius: 100%; -moz-border-radius: 100%; -webkit-border-radius: 100%;}
.fix-icon-right a{font-size: 22px; color: #aaa;}
.fix-icon-right a:hover{color: #ff3666;}
.fix-icon-right i{padding: 5px 0 0 0;}

/**css footer**/
footer .wrap-footer{background: #0b1218; padding: 25px 20px 35px 20px; text-align: center;}
footer .b-mail-subcribe{padding: 20px 0 10px 0; position: relative;}
footer .b-mail-subcribe input.ipText{background: #1f2931; border: 0; padding: 9px 15px; color: #fff; font-size: 14px; border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px;}
footer .b-mail-subcribe input.ipSubcribe{position: absolute; top: 23px; right: 3px; background: #f4c902; border: 0; padding: 6px 15px; color: #0b1218; text-transform: uppercase; font-weight: bold; font-size: 14px; border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px;}
footer .email-contact{color: #fff; font-size: 13px; padding: 5px 0 0 0px;}
footer .email-contact span{color: #f4c902;}

footer .wrap-category{padding-left: 20px;}
footer .wrap-category label{border-bottom: 0px solid #ff3666; color: #fff; font-weight: bold; padding: 20px 0 3px 0; margin: 0 0 10px 0; font-size: 15px;}
footer .wrap-lienket{overflow: hidden; padding: 0px 0 0 0;}
footer .wrap-lienket label{text-transform: uppercase; color: #fff; margin-left: 6%; margin-bottom: 20px; font-size: 17px;}
footer .wrap-lienket img{float: left; margin-left: 0; height: 28px; box-shadow: 0 0 0 #fff;}
footer .wrap-lienket ul{overflow: hidden; display: table; margin: 0 auto;}
footer .wrap-lienket{}
footer .wrap-lienket ul{overflow: hidden; margin: 0 auto;}
footer .wrap-lienket ul li{list-style: none; float: left; width: 32px; height: 32px; margin-left: 12px; margin-bottom: 12px; background: #fff; border-radius: 100%; -moz-border-radius: 100%; -webkit-border-radius: 100%;}
footer .wrap-lienket ul li:first-child{margin-left: 0;}
footer .wrap-lienket ul li a{color: #fff; text-align: center;}
footer .wrap-lienket ul li a:hover i{color: #ffd400;}

footer .wrap-lienket ul li:nth-child(1){background: #1DA1F2;}
footer .wrap-lienket ul li:nth-child(1) a{font-size: 20px;}
footer .wrap-lienket ul li:nth-child(1) i{padding: 7px 0 0 0;}

footer .wrap-lienket ul li:nth-child(2){background: #f00;}
footer .wrap-lienket ul li:nth-child(2) a{font-size: 19px;}
footer .wrap-lienket ul li:nth-child(2) i{padding: 7px 0 0 0;}

footer .wrap-lienket ul li:nth-child(3){background: #29487d;}
footer .wrap-lienket ul li:nth-child(3) a{font-size: 18px;}
footer .wrap-lienket ul li:nth-child(3) i{padding: 7px 0 0 0;}

footer .wrap-lienket ul li:nth-child(4){background: #d10869;}
footer .wrap-lienket ul li:nth-child(4) a{font-size: 19px;}
footer .wrap-lienket ul li:nth-child(4) i{padding: 6px 0 0 0;}

footer .wrap-lienket ul li:nth-child(5){background: #ff4500;}
footer .wrap-lienket ul li:nth-child(5) a{font-size: 18px;}
footer .wrap-lienket ul li:nth-child(5) i{padding: 7px 0 0 0;}

footer .wrap-lienket ul li:nth-child(6){background: #bf360c;}
footer .wrap-lienket ul li:nth-child(6) a{font-size: 17px;}
footer .wrap-lienket ul li:nth-child(6) i{padding: 7px 2px 0 3px;}

footer .wrap-lienket ul li:nth-child(7){background: #179cde;}
footer .wrap-lienket ul li:nth-child(7) a{font-size: 17px;}
footer .wrap-lienket ul li:nth-child(7) i{padding: 7px 2px 0 0;}

footer .wrap-lienket a:first-child img{margin-left: 0;}
footer .email-contact{color: #fff; font-size: 13px; padding: 5px 0 0 0px;}
footer .email-contact span{color: #f4c902;}

/* HOME VIDEO */
.home-video {
	width: 100%;
	overflow: auto;
}

.home-video .one-video {
	width: 315px;
	float: left;
	margin-right: 10px;
}

.home-video .wrap-video {
	width: 6500px;
}